<h1 nz-typography>{{this.auto}}</h1>


<nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Vehicle Model</th>
        <th>Timestamp</th>
        <th>Pressure</th>
        <th>Tyre Position</th>
        <th>Temperature</th>
        <th>Angular Velocity</th>
        <th>Linear Speed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.vehicleModel }}</td>
        <td>{{ data.timestamp }}</td>
        <td>{{ data.pressure }}</td>
        <td>{{ data.tyrePosition }}</td>
        <td>{{ data.temperature }}</td>
        <td>{{ data.angularVelocity }}</td>
        <td>{{ data.linearSpeed }}</td>
      </tr>
    </tbody>
  </nz-table>
