<h1 nz-typography>{{this.auto}}</h1>

<nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Tyre Position</th>
        <th>Pressure</th>
        <th>Temperature</th>
        <th>Angular Velocity</th>
        <th>Linear Speed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.timestamp }}</td>
        <td>{{ data.tyrePosition }}</td>
        <td>{{ data.pressure }} Bar</td>
        <td>{{ data.temperature }} °C</td>
        <td>{{ data.angularVelocity }} &#937;</td>
        <td>{{ data.linearSpeed }} Km/h</td>
      </tr>
    </tbody>
  </nz-table>
